body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.phone {
  max-width: 450px;
  min-height: 500px;
}

.phon {
  background-image: url(./images/hd-material-background-f6pm0rjj3mcmpzrv.webp);
}

.middle ion-icon {
  color: brown;
  font-size: 20px;
}

#table {
  max-width: 150px !important;
  font-size: 10px !important;
}
